/*===MEDIA QUERY===*/
@import url("https://fonts.gooleapis.com/css?family=Poppins:300,400,500");
body {
  line-height: 1.5;
  font-family: "Poppins",sans-serif;
  -webkit-font-smoothing:antialiased;
}

p{
    font-family: "Poppins",sans-serif;
    color: #757575;
    font-size: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

iframe {
    border: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
    color: #000;
}

blockquote {
    font-size: 18px;
    border-color: #000;
    padding: 20px 40px;
    text-align: left;
    color:#777;
}

.navbar-toggle .icon-bar{
    background: #000
}

.tlinks{text-indent:-9999px;height:0;line-height:0;font-size:0;overflow:hidden;}
input[type="email"],input[type="password"],input[type="text"],input[type="tel"]{
    border-radius: 0;
    box-shadow: none;
    height: 45px;
    outline: none;
    font-weight:200;
    font-size:12px;
}

input[type="email"]:focus,input[type="password"]:focus,input[type="text"]:focus,input[type="tel"]:focus{
    box-shadow: none;
    border: 1px soild #000;
}

.form-control {
    box-shadow: none;
    border-radius: 0;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #000;
}

.btn-main, .btn-soild-border, .btn-transparent, .btn-small {
    background: #000;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 14px 35px;
    text-transform: uppercase;
    font-weight: 200;
    border-radius: 0;
}

.btn-main.btn-icon i, .btn-icon.btn-soild-border i,
.btn-icon.btn-transparent i, .btn-icon.btn-small i{
    font-size: 16px;
    vertical-align: middle;
    margin-right: 5px;
}

.btn-main:hover, .btn-icon.btn-soild-border:hover, .btn-transparent:hover, .btn-small:hover {
    background:black;
    color: #fff;
}

.btn-soild-border {
    border: 1px soild #000;
    background: #fff;
    color: #000;
}

.btn-transparent {
    background: transparent;
    padding: 0;
    color: #000;
}

.btn-transparent:hover {
    background: transparent;
    color: #000;
}

.btn-large {
    padding: 20px 45px;
}

.btn-large.btn-icon i{
    font-size: 16px;
    vertical-align:middle;
    margin-right: 5px;
}

.btn-small {
    padding: 8px 25px;
    font-size:10px;
}

.btn-round {
    border-radius: 4px;
}

.btn-round-full {
    border-radius: 50px;
}

.btn.active:focus, .btn.active:focus, .btn:focus {
    outline: 0;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-50 {
    margin-top: 50px;
}

.btn:focus {
    color: #ddd;
}

.w-100 {
    width:100%;
}

.margin-0 {
    margin: 0 !important;
}

#preloader {
    background: #fff;
    height: 100%;
    left: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    position: fixed;
    text-align: center;
    top:0;
    width: 100%;
    z-index:999999999;
}

.bg-shadow {
    background-color: #fff;
    box-shadow: 0 16px 24px rgba(0,0,0,0.08);
    padding: 20px;
}

.bg-gray {
    background: #f9f9f9;
}

.section {
    padding: 80px 0;
}

.title{
    padding: 20px 0 30px;
}

.title h2 {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.category-box {
    background-size: cover;
    margin-bottom: 30px;
    min-height: 350px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

@media (max-width:400px) {
    .category-box {
        min-height:250px;
    }
}

@meida (max-width:480px){
    .catehory-box{
        min-height:250px;
    }
}

.categroy-box.category-box-2 {
    min-height: 730px;
}

@media (max-width:768px) {
    .category-box.category-box-2 {
        min-height: 400px;
    }
}

.category-box:hover img {
    -webkit-transform: scale(1.1);
            transform: scale(1.1); 
}

.category-box img{
    transition: all 0.3s ease-in-out;
    width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
}

.category-box a {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.category-box .content {
    position: absolute;
    z-index: 999;
    top: 0;
    padding: 25px;
}

@media (max-width:768px) {
    .category-box .content {
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);
        text-align: center;        
    }
}

.category-box ,content h3 {
    margin: 0;
    color: #333;
    font-size: 20px;
    font-weight: 500;
}

@media (max-width:768px) {
    .category-box .content h3 {
        font-size: 20px;
    }
}

.category-box .content p{
    margin: 6px 0 0;
}

.page-header {
    background: #f5f5f5;
    margin-top: 20px;
    border-bottom: none;
    padding: 30px 0;
}

.page-header h1 {
    font-weight: 200;
    margin: 0 0 6px 0;
}

.apge-header .breadcrumb {
    background: transparent;
    padding: 5px;
    margin: 0;
}

.page-header .breadcrumb li{
    font-weight: 200;
    font-size: 12px;
}

.page-header .breadcrumb li a{
    color: #000;
}

.overly{
    position: relative;
}

.overil:before {
    content: '';
    background: rgba(0,0,0,0.51);
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}